extends layout

block content
    h1= title
    - var image_names = ["employee1", "employee2", "employee3", "employee4", "employee5"]
    - for(let i = 0; i < 3; i++) {
        - let number = Math.floor(Math.random() * 5)
            img(src=`/images/${image_names[number]}.jpg`,alt="",height="300px",width="300px")
    - }